<div class="column">
  <div class="card">
    <div class="card-header">
      <div class="card-header-icon"><span class="material-icons medium">playlist_add_check</span></div>
      <div class="card-header-title">Ohje</div>
    </div>
    <div class="card-content">
      <ol>
        <li>
          <p>Määritä asetukset</p>
        </li>
        <li>
          <p>Lisää tietuetunnistetiedosto</p>
        </li>
        <li>
          <p>Tarkista lisätyn tiedoston sisältö</p>
        </li>
        <li>
          <p>Lähetä tietuetunnisteet järjestelmään</p>
        </li>
        <li>
          <p>Saat vielä sähköpostin, kun tietueet on käsitelty.</p>
        </li>
      </ol>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-header-icon"><span class="material-icons medium">info_outline</span></div>
      <div class="card-header-title">Poistot Melindan tietuetunnisteen perustella</div>
      <div class="card-header-flex-filler"></div>
    </div>
    <div class="card-content">
      <p>Melindan tietuetunniste (Melinda-ID) löytyy paikalliskannan tietueen kentästä 035 $a. Tunnisteessa on mm.
        Aurora-paikalliskannoissa (FI-MELINDA) -alku ja mm. Koha-paikalliskannoissa FCC-alku. Tunnisteet voi listata
        joko
        (FI-MELINDA)-alkuisena seuraavasti:
      </p>
      <div class="exampleBlock">
        <span class="legend">MELINDA-ID</span>
        <span>(FI-MELINDA)001173048</span>
        <span>(FI-MELINDA)001167257</span>
      </div>
      <p>tai FCC-alkuisena seuraavasti:</p>
      <div class="exampleBlock"><span class="legend">MELINDA-ID</span><span>FCC001173048</span><span>FCC001167257</span>
      </div>
      <p>Vanhat/virheelliset tunnisteet 035 $z -osakentästä jätetään pois.</p>
      <p>
        <bold>Huom: Poistot-käyttöliittymä ei toistaiseksi osaa käsitellä tietueita, joista tiedossa on ainoastaan
          paikalliskannan tietueen tunniste.</bold>
      </p>
    </div>
  </div>
</div>